@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #292323;
    font-size: 0.5rem;
    margin-left: auto;
    margin-right: auto;


  }

#logo {
  margin-top: 20px;


}

#logoimg {
  image-rendering: pixelated;

}
  
#topboxes{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }

#stage{
  justify-content: center;
  margin-top: 50px;
  display: flex;
  align-content: center;
  width: 736px;
  height: 672px;
  position: relative;
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;

  }

#rightbar {
  margin-top: 50px;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  order: 2;
  height: 672px;
  width: 512px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;  


  }

#righttop {
  height: 364px;
  width: 512px;

  order: 1;
  flex-grow: 0;
  flex-shrink: 0;

  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
}
  
#rightbottom {
 width: 512px;
  height: 256px;
  order: 4;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 50px;

  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
}

#bg-canvas {
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
  width: 736px;
  height: 672px;
  image-rendering: pixelated;
  position: absolute; left: 0; top: 0; z-index: 0;
  }

#char-canvas {
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
  width: 736px;
  height: 672px;
  image-rendering: pixelated;
  position: flex-start;
  position: absolute; left: 0; top: 0; z-index: 1; 
  }

#gadget-canvas {
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
  width: 736px;
  height: 672px;
  image-rendering: pixelated;
  position: absolute; left: 0; top: 0; z-index: 2;
  }
#text-canvas {
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
  position: absolute; left: 0; top: 0; z-index: 3;
  }

#clickimage {
  position: absolute;
  /* margin-left: auto;
  margin-right: auto; */
  left: 0;
  right: 0;
  position: absolute; left: 0; top: 0; z-index: 10;
  image-rendering: pixelated;
  opacity: 0;
  }

#chatboxBG {
  position: absolute; left: 1; top: 0; z-index: 10;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
  z-index: -1;

}

#events {
  font: arial;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 20px;
  height: 230px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  list-style-type: none;
  }

#events li {
  list-style-type: none;
  font:10px "Arial",san-serif;
  padding: 4px 0px 0px 0px;
  }

.chat-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom:60px;
  }
   
.chat-wrapper form input {
  max-width: 200px;
  order: 1;
  }
    
.chat-wrapper form button {
  order: 2;
  }

#cardstage{

  width: 512px;
  height: 256px;
  position: absolute;
  order: 2;
}

#cards-gadget-canvas {

  width: 512px;
  height: 256px;
  image-rendering: pixelated;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }

#cards-text-canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  image-rendering: pixelated;

  z-index: 10;

  }



#BGCards {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  image-rendering: pixelated;
}

#BGCardsBorder {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute; center: 0; top: 0; z-index: 10;
  image-rendering: pixelated;
  opacity: 0;
}

#clickareamap{
  z-index: 10;
}

input {
  font-family: 'Press Start 2P', monospace;
  font-size: 0.8rem;
  outline: none;
  }

button {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8rem;
    color: white;
    line-height: 25px;
    background-color:DarkRed ;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
  }

button:hover {
      background-color: #0e717e;
  }

#bottomboxes {
  width: 70%;
  margin-left: auto; margin-right: auto;
  min-width: 950px;
 }

   button.turn:hover {
    background-color: whitesmoke;
  }
  
  .rps-wrapper {
    background-color: bisque;
  }
  
 
  .button-wrapper {
    display: flex;
    justify-content: center;

  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bfa169;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #91784a; 
  }

  /* Dropdown Button */
  .dropbtn {
    font-family: 'Press Start 2P', monospace;
    color: white;
    line-height: 25px;
    background-color:DarkRed ;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
    border-color: blue;
  }
  


  /* The container <div> - needed to position the dropdown content */
  .dropdown {

    margin-left: 30px;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-overlay
{
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;

  background: rgb(50, 50, 50) !important; /* This will make it darker */
  z-index: 10;
}

.ui-dialog{
  min-width: 600px;
  min-height: 400px;
  padding-top: 100px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 100px;
  text-align: center;
  z-index: 20;
  background-color: #292323;
  z-index: 10;
  border-style: dotted;
  border-radius: 30px;
}
  #my_dialog {
    margin: 10px;
    padding:50px;
    text-align: center;
    min-width: 350px;
    background-color: cyan;
    z-index: 10;
    border-radius: 30px;
  }