body {
    font-family: 'VT323', monospace;
    font-size: 8;
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-size: 1.2rem;
    
  }
  
  input {
    font-family: 'VT323', monospace;
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
  }
  
  button {
    font-family: 'VT323', monospace;
    font-size: 1rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
    border-color: blue;
  }
  
  button:hover {
      background-color: #79d7e4;
  }
  
  button.turn {
    color: rgb(255, 64, 129);
    background-color: bisque;
    box-shadow:none;
  }
  
  .canvas-wrapper {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
   
  }

  canvas {
    width: 736px;
    height: 672px;
    image-rendering: pixelated;
}

  h3{
    border-style: solid;
    text-align: center;
    font-size: 2rem;
  }

  button.turn:hover {
    background-color: whitesmoke;
  }
  
  .rps-wrapper {
    border-style: solid;
    background-color: bisque;
    width: 736px;
    height: 300px;
    max-height: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

  }
  
  #events {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
  }
  
  #events li {
    padding: 0px 0px 0px 0px;
  }
  
  .chat-wrapper {
    padding: 10px;
    font-family: 'VT323', monospace;
  }
  
  .chat-wrapper form {
    display: flex;
  }
  
  .chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 0px 0 0;
    padding: 0 5px;
    flex-grow: 1;
  }
  
  .chat-wrapper form button {
    width: 40px;
  }
  
  .button-wrapper {
    display: flex;
    padding: 10px 10px;
    justify-content: space-evenly;
    border-style: solid;
  }